*{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}
header{
	background-image: url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	margin-right: 488px;
	margin-top: 25px;
	float: right;
	list-style-type: none;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid white;
	transition: .3s ease;
}
ul li a:hover{
	background-color: white;
	color: black;
}
h1{
	color: white;
	font-size: 55px;
	position: absolute;
	left: 490px;
	top: 110px;
}
li a.active{
	background-color: white;
	color: black;
}